* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*or import font using @font-face 
  @font-face {
  font-family: "MyFont";
  sur: url("assets/fonts/static/Figtree-ExtraBold.ttf");
} */
body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-size: clamp(11px, 4vw, 16px); /* responsive font size */
}
body p {
  font-size: 16px;
}
.blog {
  max-width: 400px;
  margin: 100px auto;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  border: solid 2px black;
  box-shadow: 7px 7px 0 0 black;
}

.imge-head img {
  width: 100%;
  border-radius: 15px;
}

.head h3 {
  background-color: hsl(47, 88%, 63%);
  max-width: 100px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 18px 0;
  text-align: center;
}
.head p {
  margin-bottom: 20px;
}
.content-main h2 {
  margin: 20px 0;
}
.content-main p {
  margin: 20px 0;
  line-height: 1.5;
  color: hsl(0, 0%, 42%);
}

.footer-blog img {
  width: 30px;
  margin-right: 10px;
}

.footer-blog span {
  font-weight: bold;
  position: relative;
  bottom: 10px;
}
